@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F2F0E8;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;
     /* Added margin-top for better visibility */
}

.left, .right {
    text-align: center;
}

.left {
    margin-right: 100px;
}

.logo img {
    width: 150px;
    height: auto;
    margin-bottom: 30px;
}

h1 {
    font-size: 27px;
    margin-bottom: 10px;
    font-weight: 300;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 200;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup_box {
    background-color: white;
    padding: 20px;
    border-radius: 22px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    text-align: left;
}

.form-scroll {
    max-height: 412px; /* Set the height for the scrollable area */
    overflow-y: auto; /* Enables vertical scrolling */
    margin-bottom: 15px; /* Space below the scrollable form */
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

input, select {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
    margin-bottom: 15px;
    font-size: 16px;
}

.signupbtn, .loginbtn {
    background-color: #eb4848;
    padding: 10px;
    border-radius: 12px;
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.signupbtn:hover, .loginbtn:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login {
    text-align: center;
    margin-top: 10px; /* Adds space between the form and the login section */
}

.loginbtn {
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    margin-top: 10px;
    padding: 10px 39px;
}

.buttons {
    width: 100%;
}
