@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and borders don't add to element's width */
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F2F0E8;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;
}

.left, .right {
    text-align: center;
}

.left {
    margin-right: 100px;
}

.logo img {
    width: 150px;
    height: auto;
    margin-bottom: 30px;
}

h1 {
    font-size: 27px;
    margin-bottom: 10px;
    font-weight: 300;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 200;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_box {
    background-color: white;
    padding: 20px;
    border-radius: 22px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    text-align: left;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
    margin-bottom: 15px;
    font-size: 16px;
}

.loginbtn, .registerbtn {
    background-color: #eb4848;
    padding: 10px;
    border-radius: 12px;
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.loginbtn:hover, .registerbtn:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.register {
    text-align: center;
}

.registerbtn {
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.buttons {
    width: 100%;
}




